.App {
  max-width: 600px;
  margin: 30px auto;
}

body {
  font-family: arial, sans-serif;
  background: lightblue;
}

h1 {
  color: #253b56;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: #253b56;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}
