.Weather {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=750&w=1260);
}

.Weather .overview {
  margin-bottom: 20px;
}

.Weather .weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.Weather .weather-temperature strong {
  color: #253b56;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.Weather .weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.Weather .weather-temperature .active {
  color: #253b56;
  cursor: default;
}

.Weather .weather-temperature .active:hover {
  text-decoration: none;
}

.Weather .weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.Weather .weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.Weather .weather-forecast-temperature-min {
  opacity: 0.5;
}

.Weather .weather-forecast-temperatures {
  font-size: 13px;
}

.Weather .weather-temperature .active {
  color: #253b56;
  cursor: default;
}

.Weather .weather-temperature .active:hover {
  text-decoration: none;
}

.Weather .weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.Weather .weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.Weather .weather-forecast-temp-min {
  opacity: 0.5;
}

.Weather .weather-forecast-temperature {
  font-size: 13px;
}
